
body {
	font-family: "Arial", "Helvetica", Helvetica, sans-serif;
	padding-left: 12px;
	padding-top: 6px;
}

.clear-both {
	clear: both;
}

#collapse-intro, #collapse-socnat, #collapse-themepark {
	padding-bottom: 8px;
	padding-top: 8px;
}

#footer-container {
	background-color: darkgrey;
	color: white;
	font-size: 10px;
	margin-left: 0;
	padding: 4px;
	text-align: center;
}

#introduction-header, #social-nature-header {
	margin: 0;
}

.card-body {
	padding: 0;
}

.image-in-two-column-row {
	max-width: 100%;
}

.column-in-two-column-row {
	margin-bottom: auto;
	margin-top: auto;
}

.smaller-text {
	font-size: 1.5vw;
}

#nav-button-home {
	background-color: green;
	color: white;
	margin-right: 8px;
}

#nav-button-wikipedia {
	background-color: yellow;
	color: black;
}

.no-padding-button {
	padding: 0;
}

#page-top-navbar {
	margin-bottom: 16px;
	padding-bottom: 2px;
	padding-top: 2px;
}

.portrait-phone-only-text {
	float: left;
	font-weight: bolder;
	padding: 12%;
}

#post-heading-whitespace {
	margin: 48px;
}

.small-vertical-whitespace {
	margin: 36px;
}
