
body {
	font-family: "Arial", "Helvetica", Helvetica, sans-serif;
}

.clear-both {
	clear: both;
}

#introductory-figure, #social-nature-figure, #theme-park-figure {
	display: flex;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	width: 768px;
}

#introductory-figure, #theme-park-figure {
	padding-left: 8px;
}

#introductory-text, #social-nature-text, #theme-park-text {
	flex: 1 1 auto;
	font-size: 13px;
	margin: auto;
	font-size-adjust: 
	padding: 24px;
}

#introductory-text, #theme-park-text {
	margin-left: 16px;
}

@media (max-width: 768px) {
	#introductory-text, #social-nature-text, #theme-park-text {
		font-size: 10px;
	}	
}

#pair-above-water-image, #pod-submerged-image, #theme-park-image {
	margin: auto;
	max-height: 256px;
	max-width: 384px;
}

#pair-above-water-image, #theme-park-image {
	float: left;
	margin-left: 0;
}

#pod-submerged-image {
	float: right;
	margin-right: 0;
}

#post-heading-whitespace {
	margin: 48px;
}

.small-vertical-whitespace {
	margin: 36px;
}

#social-nature-figure {
	flex-direction: row-reverse;
}

#social-nature-text {
	margin-right: 8px;
	padding-left: 16px
}
